/**
 * tools
 */

// padding
.p-0{
  padding: 0 !important;
}
.p-t-0{
  padding-top: 0 !important;
}
.p-b-0{
  padding-bottom: 0 !important;
}
.p-r-0{
  padding-right: 0 !important;
}
.p-l-0{
  padding-left: 0 !important;
}
.p-t-10{
  padding-top: 10px !important;
}
.p-b-10{
  padding-bottom: 10px !important;
}
.p-10{
  padding: 10px !important;
}
.p-t-20{
  padding-top: 20px !important;
}
.p-b-20{
  padding-bottom: 20px !important;
}
.p-l-20{
  padding-left: 20px !important;
}
.p-r-20{
  padding-right: 20px !important;
}
.p-y-60{
  padding: 60px 0 !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-x-80{
  padding: 0 80px !important;
}

// margin
.m-0{
  margin: 0 !important;
}
.m-b-0{
  margin-bottom: 0 !important;
}
.m-t-0{
  margin-top: 0 !important;
}
.m-l-0{
  margin-left: 0 !important;
}
.m-r-0{
  margin-right: 0 !important;
}
.m-b-5{
  margin-bottom: 5px !important;
}
.m-t-5{
  margin-top: 5px !important;
}
.m-r-5{
  margin-right: 5px !important;
}
.m-l-5{
  margin-left: 5px!important;
}
.m-y-10{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-x-10{
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-r-10{
  margin-right:10px !important;
}
.m-l-10{
  margin-left: 10px !important;
}
.m-t-10{
  margin-top: 10px !important;
}
.m-b-10{
  margin-bottom: 10px !important;
}
.m-t-20{
  margin-top: 20px !important;
}
.m-b-20{
  margin-bottom: 20px !important;
}
.m-t-30{
  margin-top: 30px !important;
}
.m-b-30{
  margin-bottom: 30px !important;
}
.m-t-40{
  margin-top: 40px !important;
}
.m-b-40{
  margin-bottom: 40px !important;
}
.m-t-60{
  margin-top: 60px !important;
}
.m-b-60{
  margin-bottom: 60px !important;
}
